* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Poppins;
}
a {
    text-decoration: none;
    color: white;
}
body {
    background: radial-gradient(#319DFF, #0E416F);
    padding: 0 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.navLogo img {
    width: 100px;
    height: 100px;
}

.navList {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.navList ul {
    list-style: none;
    display: flex;
    gap: 100px;
    margin: 0;
    font-size: 18px;
    color: white;
}

.navList ul li {
    cursor: pointer;
    position: relative;
}

.navList ul li a {
    color: white; /* Cor do texto */
    transition: color 0.3s ease; /* Efeito de transição */
}

.navList ul li a:hover {
    color: #FF8D9A; /* Cor no hover */
}

.navList ul li a::after {
    content: ""; /* Cria um elemento vazio */
    display: block;
    height: 2px;
    background: #FF8D9A;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.selected{
    font-weight: 700;
}

.navList ul li a:hover::after,
.navList ul li a.selected::after { /* Aplica ao hover ou se estiver selecionado */
    transform: scaleX(1); /* Mostra a linha */
}
.sect {
    background-color: white;
    width: 80%;
    margin: 0 auto 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    min-height: 700px;
    justify-content: center;
}
.titulo{
    font-size: 3rem;
    margin: 2rem 0rem;
    text-align: center;
    color: white;
}
.pergunta img{
    width: 32px;
    height: 32px;
}
.faq{
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    cursor: pointer;
    border-bottom: solid #0E416F 2px;
}

.pergunta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black
}
.pergunta h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem 0 0 1rem;
    width: 90%;
}
.resposta p{
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.2rem;
    width: 90%;
    margin: 1rem 0 0 1rem;
}
.resposta {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease;
}
.faq.active .pergunta{
    animation: 1s ease-in-out;
    color: #FF8D9A
}
.faq.active .resposta{
    max-height: 300px;
    color: black
}
.faq.active img{
    transform: rotate(180deg);
}
img {
    transition: transform 0.2s ease-in;
    margin-right: 10px;
}

@keyframes fade{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@media (max-width: 1250px) {
    .faq{
        max-width: 500px;
    }
    .pergunta h3{
        font-size: 1rem;
        font-weight: 600;
        margin: 1rem 0 0 1rem;
        width: 90%;
    }
    .resposta p{
        font-size: 1rem;
    }
    .pergunta img{
        width: 24px;
        height: 24px;
    }
    .titulo{
        font-size: 2rem;
    }
}

@media (max-width: 1025px) {
    body {
        padding: 0 100px;
    }
}

@media (max-width: 838px) {
    .navList ul {
        gap: 50px;
        font-size: 18px;
    }
    .navList ul {
        text-align: center;
    }
    
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }
    .navLogo img {
        width: 80px;
        height: 80px;
    }
    .navList ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    body {
        padding: 0 50px;
    }
}
@media (max-width: 650px) {
    body {
        padding: 0 20px;
    }
    .navLogo img {
        width: 60px;
        height: 60px;
    }
    .navList ul {
        font-size: 16px;
    }
    .faq{
        max-width: 500px;
    }
    .pergunta h3{
        font-size: 1rem;
        font-weight: 600;
        margin: 1rem 0 0 1rem;
        width: 90%;
    }
    .resposta p{
        font-size: 1rem;
    }
    .pergunta img{
        width: 18px;
        height: 18px;
    }
    .titulo{
        font-size: 1.5rem;
    }
}

@media (max-width: 500px) {
    body {
        padding: 0;
    }
    .navLogo img {
        width: 60px;
        height: 60px;
    }
    .navList ul {
        font-size: 16px;
    }
    .faq{
        max-width: 500px;
    }
    .sect{
        width: 100%;
        border-radius: 10px;
        justify-content: center;
        min-height: auto
    }
    .pergunta h3{
        font-size: 1rem;
        font-weight: 600;
        margin: 1rem 0 0 1rem;
        width: 90%;
    }
    .resposta p{
        font-size: 1rem;
    }
    .pergunta img{
        width: 24px;
        height: 24px;
    }
    .titulo{
        font-size: 2rem;
    }
    
}
.navbar-toggler:focus {
    outline: none; /* Remove o contorno ao focar no botão */
    box-shadow: none; /* Remove qualquer sombra ao focar no botão */
}
.navbar-toggler {
    border: none;           /* Remove a borda do botão */
    outline: none;          /* Remove o contorno do botão */
}

.navbar-toggler:focus {
    outline: none;          /* Remove o contorno quando o botão é clicado */
}

.navbar-toggler i {
    color: white;           /* Cor branca para o ícone */
}
