* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Poppins;
}

a {
    text-decoration: none;
    color: white;
}
body {
    background-image: url('../src/fundo.png');
    background-size: cover;
    background-position: contain;
    background-repeat: no-repeat;
    padding: 0 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.navLogo img {
    width: 100px;
    height: 100px;
}

.navList {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.navList ul {
    list-style: none;
    display: flex;
    gap: 100px;
    margin: 0;
    font-size: 18px;
    color: white;
}

.navList ul li {
    cursor: pointer;
    position: relative;
}

.navList ul li a {
    color: white;
    transition: color 0.3s ease;
}

.navList ul li a:hover {
    color: #319DFF;
}

.navList ul li a::after {
    content: "";
    display: block;
    height: 2px;
    background: #319DFF;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navList ul li a:hover::after,
.navList ul li a.selected::after {
    transform: scaleX(1);
}

.selected {
    font-weight: 700;
}

section {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 30px 0;
}

p {
    text-align: justify;
    width: 50%;
    font-size: 20px;
}

/* Responsividade */
@media (max-width: 1025px) {
    section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    p {
        width: 100%;
    }

    body {
        padding: 0 100px;
    }
}

@media (max-width: 875px) {
    nav {
        flex-direction: column;
    }

    .navLogo img {
        width: 80px;
        height: 80px;
    }

    .navList ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    body {
        padding: 0 50px;
    }
}

@media (max-width: 480px) {
    body {
        padding: 0 20px;
    }

    .navLogo img {
        width: 60px;
        height: 60px;
    }

    .navList ul {
        font-size: 16px;
    }
}
