* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Poppins;
}
a {
    text-decoration: none;
    color: white;
}
body {
    background-image: url('../src/fundo.png');
    padding: 0 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.navLogo img {
    width: 100px;
    height: 100px;
}

.navList {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.navList ul {
    list-style: none;
    display: flex;
    gap: 100px;
    margin: 0;
    font-size: 18px;
    color: white;
}

.navList ul li {
    cursor: pointer;
    position: relative;
}

.navList ul li a {
    color: white; /* Cor do texto */
    transition: color 0.3s ease; /* Efeito de transição */
}

.navList ul li a:hover {
    color: #319DFF; /* Cor no hover */
}

.navList ul li a::after {
    content: ""; /* Cria um elemento vazio */
    display: block;
    height: 2px;
    background: #319DFF;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.selected{
    font-weight: 700;
}

.navList ul li a:hover::after,
.navList ul li a.selected::after { /* Aplica ao hover ou se estiver selecionado */
    transform: scaleX(1); /* Mostra a linha */
}
section{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
    margin: 30px 0;
}
p{
    text-align: justify;
    width: 50%;
    font-size: 20px;
}